@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600&display=swap');

/* HEADER */
.header {
  height: 80px;
  width: 90%;
  max-width: 1200px; /* Prevent it from being too wide on large screens */
  position: fixed;
  top: 20px; /* Give it some space from the top to look like a floating pill */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 40px;
  gap: 20px;

  box-sizing: border-box;

  border: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    width 0.3s ease,
    top 0.3s ease;
}


.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}


.header-scrolled {
  background-color: #ffffff;
  border:1px solid black;
  border-bottom: 5px solid black;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.header-scrolled .header-content {
  transform: translateX(0);
}

/* BUTTONS */
.buttons {
  height: 32px;
  width: 120px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #000;
}

.buttons:hover {
  background-color: #9ef01a;
}
